extends layout

block content
	// WRAPPER
	#wrapper

		// LINE ITEM LIST
		h2 Accounts
		p
			i Click on account name to view expenses
		#lineItemList
			table
				thead
					th Name
					th Starting
					th Remaining
				tbody
		// /LINE ITEM LIST

	// /WRAPPER

block scripts
	script(src='/javascripts/global.js')
